page-reward-modal {
    ion-toolbar {
        text-align: center;
    }
    ion-card-content {
        background-color: white;
    }
    .text-align {
        text-align: center;
    }
    .text-format {
        font-weight: bold;
    }
}
